.header{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.8)), url(project.jpg);
    background-size: cover;
    background-repeat: none;
     min-height:100vh;
     min-width:100vh;
    	
}


.logo-nav{
    margin:0 auto ;
    display:grid;
    height: 8rem;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 10rem;
    width: 60rem;
   
    
}
.logo-box{
    width: 10rem;
    height: 8rem;
    }
.logo{
    width: 100%;
    height: 100%;
}

.nav{
    
}
.nav-input{
    display: inline-block;
    margin-top:2rem;
    list-style: none;

}
.nav-link{
    font-size: 1rem;
    text-decoration: none;
    margin:.5rem;
    color: burlywood;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgba(205,133,31,1) 0% 50%);
		background-size: 220%;
		transition: all .4s;
		border-radius: .5rem;
        padding: .5rem;
}
.nav-link:hover{
    background-position: 100%;
    color: white;
}



.text{
    width: 40rem;
    margin: 0 auto;
    transform: translate(1rem,12rem);
    background: radial-gradient(circle, rgba(231,164,5,0.38139005602240894) 22%, rgba(238,174,202,1) 99%);
    padding: 1.5rem;
    border-radius: 2rem;
}

.description{
   font-size: 1.4rem;
   line-height:2rem;
   font-weight: bold;
}
.button{

width:30rem;
margin-top:2rem;

}
.phone{
    display: flex;
    justify-content: space-between;
}
.call{
    list-style: none;
    margin:1rem;
     
}
.callMe{
    text-transform: uppercase;
    border: 2px solid bisque;
    padding:1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    text-decoration: none;
    text-align: center;
    border-radius:2rem;
    color:white;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgba(238,174,202,1) 0% 50%);
    background-size: 220%;
    transition: all .4s;
    font-size: .7rem;
   
   
}
.callMe:hover{
    background-position: 100%;
    background-color: bisque;
}

.myself {
    display: flex;
    justify-content: space-around;}

.photo-box__photo {
    margin-top: 5rem;
    vertical-align: middle;
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    box-shadow: -12px 30px 42px -17px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -12px 30px 42px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -12px 30px 42px -17px rgba(0, 0, 0, 0.75); }

    .descriptio{
        border: 1px solid #ddd;
        margin-top: 5rem;
        padding: 2rem;
        width: 40rem;
        text-align: center;
        box-shadow: -12px 30px 42px -17px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -12px 30px 42px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -12px 30px 42px -17px rgba(0, 0, 0, 0.75);
        border-radius: 1rem; }

        .descriptio__self {
            font-weight: 700;
            font-size: 1.8rem;
            color: brown; }
          .descriptio__text {
            line-height: 3rem;
            font-weight: 600;
            color: salmon;
            font-size: 1rem;
            
            white-space: wrap;
            word-spacing: 6px; }

            .fText{
                height:15rem;
                margin-top: 5rem;
                width:78rem;
                text-align: center;
                background-color:#eee;
                border-radius: 5rem;
                margin-bottom: 5rem;
            }

            .ft{
               
                display: inline-block;
                width: 30rem;
                margin-top: 5rem;
                
                
            }
            .me{
                text-decoration: none;
                color: black;
                border: 3px solid rgba(238,174,202,1);
                padding: 0.5rem;
                border-radius: 1rem;

                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgba(238,174,202,1) 0% 50%);
                background-size: 220%;
                transition: all .4s;
                
            }
            .me:hover{
                background-position: 100%;
                color: #eee;
            }